.hero{
  background-color: #84a59d !important  ;
  background-image: url("../src/assets/Untitled.svg");
  background-size: cover;
}
.title{
  color : #F28482 !important; 
  font-family: 'Anton', sans-serif;
}
.subtitle{
  color : black !important; 
  font-family: 'Roboto', sans-serif;
}
.questionsSub{
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
}
.questionTitle{
  color : #f6bd60 !important; 
  font-family: 'Anton', sans-serif;
  font-size: 45px;
}
.cheersMessage{
  z-index: 2;
  /* position: absolute; */
  text-align:center;
}
.cheersBlock{
  position:relative
}
.cheersImg{
  /* position: absolute; */
  width: 40%;
  height: 40%;
  z-index: 1;
}
.retourLigne{
  /* white-space: pre-line; */
  word-wrap:break-word;
}
.startWithTimerDiv, .startWithoutTimerDiv{ 
  /* font-family: 'Anton', sans-serif; */
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
}
.startWithTimerDiv:hover,.startWithoutTimerDiv:hover{
  background-color:#F7EDE2 ;
  color: #f28482;
  animation-name: transitionQuestionType;
  animation-duration: 0.7s;
}
.espacement{
  width: 5%;
}
.icon, .fa-envelope {
  color: black !important;
}
ion-icon {
  font-size: 50px;
  margin-top: 0px !important;
}
.trait
{
background-color: black;
height: 1pt;
width: 100%;
}
.block{
  display: inline
}
.counter{
  font-size: 500%;
  color : #f6bd60 !important; 
}
.column{
  background-color: #f6bd60;
}
.chartCard{
  background-color: rgba(247, 237, 226, 0.7) ;
}
.chartTitle{
  color : #F28482 !important; 
  font-family: 'Anton', sans-serif;
  font-size: 50px;
}
.chartSub{
  font-size: 30px;
}
.typeQuestions{
  padding: 3rem !important ;
}
@keyframes transitionQuestionType {
  from {background-color: #f6bd60}
  to {background-color: #F7EDE2}
}